
<div class="padre">
        <div class="hijo">
        <mat-card class="example-card">
            <mat-card-header>
              <mat-card-title> BIENVENIDO  </mat-card-title>
            </mat-card-header>
            <img mat-card-image src="../../assets/construccion.jpg" alt="DOFUSRATS">
            <mat-card-content>
<!--cambio algo -->

                     AHORA PUEDES  <br>
                   <span>🐁🐭 REPORTAR <a style="color: #ff0000;" mat-list-item href="/boots"> BOOTS </a> ‼️</span><br>
                   <span>🐁🐭 VER INFORMACION DE <a style="color: #ff0000;" mat-list-item href="/clonadores"> CLONADORES </a>‼️  </span><br>
                    
                   ⚠️ 🚫 RECUERDA QUE PUEDES ENVIARNOS  TUS DUDAS O SUGERENCIAS AL CORREO  RATSDOFUS@GMAIL.COM 🚫⚠️
                
            </mat-card-content>
           
          </mat-card>
      
      </div></div>
      
      
      
      
      
      
         
       
        
                     














