  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  <mat-form-field color="warn">
      <input matInput required value="Escriba su busqueda aqui" (keyup)="applyFilter($event.target.value)" placeholder="BUSCADOR" class="inputs">
      <mat-icon matSuffix> search</mat-icon>
    </mat-form-field>
    <div class="mat-elevation-z8">  
    <table mat-table [dataSource]="dataSource" matSort >
      <!-- Progress Column -->

      <ng-container matColumnDef="nombreCompetidor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombreCompetidor </th>
        <td mat-cell *matCellDef="let row"> {{row.nombreCompetidor}} </td>
      </ng-container>

      <ng-container matColumnDef="nombrePersonaje">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre Personaje</th>
        <td mat-cell *matCellDef="let row"> {{row.nombrePersonaje}} </td>
      </ng-container>

      <ng-container matColumnDef="servidor">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Servidor </th>
        <td mat-cell *matCellDef="let row"> {{row.servidor}} </td>
      </ng-container>
      <ng-container matColumnDef="gremio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gremio </th>
        <td mat-cell *matCellDef="let row"> <p> {{row.gremio}} </p> </td>
      </ng-container>
      <ng-container matColumnDef="equipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Equipo </th>
        <td mat-cell *matCellDef="let row"> {{row.equipo}} </td>
      </ng-container>
      
      <ng-container matColumnDef="facebook">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> facebook </th>
        <td mat-cell *matCellDef="let row">  <a class="btn" style="background-color: white"  href="{{row.facebook}}"><i class="fa fa-facebook">acebook</i></a> </td>
      </ng-container>
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  




