<div class="padre">
    <div class="hijo">
    <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title> PAGINA EN CONSTRUCCION</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../assets/construccion.jpg" alt="DOFUSRATS">
        <mat-card-content>
          <p>
         ESTAMOS TRABAJANDO POR MEJORAR LA COMUNIDAD PUEDES ENVIARNOS TUS SUGERENCIAS AL CORREO RATSDOFUS@GMAIL.COM
          </p>
        </mat-card-content>
        <mat-card-actions>
            <button class="btn btn-block btn-social btn-facebook" (click)="onLoginFacebook()">
                <span class="fa fa-facebook"></span>
                REGISTRO CON FACEBOOK
              </button>
              <button class="btn btn-block btn-social btn-facebook" (click)="onInicio()">
                <span class="fa fa-facebook"></span>
                VOLVER AL INICIO
              </button>
        </mat-card-actions>
      </mat-card>
  
  
  
  
  
  
  </div></div>
  
  
  
  
  
  
     
   
    
                 