  
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
  
  <mat-form-field color="warn">
      <input matInput required value="Escriba su busqueda aqui" (keyup)="applyFilter($event.target.value)" placeholder="BUSCADOR" class="inputs">
      <mat-icon matSuffix> search</mat-icon>
    </mat-form-field>
    <div class="mat-elevation-z8">  
    <table mat-table [dataSource]="dataSource" matSort >
      <!-- Progress Column -->

      <ng-container matColumnDef="nombreEquipo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> nombre Equipo </th>
        <td mat-cell *matCellDef="let row"> {{row.nombreEquipo}} </td>
      </ng-container>

      <ng-container matColumnDef="nombreGremio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>nombre Gremio</th>
        <td mat-cell *matCellDef="let row"> {{row.nombreGremio}} </td>
      </ng-container>

      
      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
    </div>
  




