<div class="padre">
  <div class="hijo">
  <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title> ALTO!! quieres ser un Guardian?</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/guardian.jpg" alt="DOFUSRATS">
      <mat-card-content>
        <p>
         Registrate para poder  acceder a este contenido:
         esto es necesario para evitar spam y uso mal intencionado de la plataforma recuerda que trabajamos por la comunidad
        
        </p>
      </mat-card-content>
      <mat-card-actions>
            <button class="loginBtn loginBtn--facebook" (click)="onLoginFacebook()">
              Login with Facebook
            </button>
            
            <button class="loginBtn loginBtn--google" (click)="onLoginGoogle()">
              Login with Google
            </button>
            <button class="btn btn-block btn-social btn-facebook" (click)="onInicio()">
              <span class="fa fa-facebook"></span>
              VOLVER AL INICIO 
            </button>
      </mat-card-actions>
    </mat-card>
</div></div>






   
 
  
               